<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwipeReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SwipeReader.Properties.Settings.SwipeReaderConnectionString"
            connectionString="Data Source=|DataDirectory|\SwipeReader.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <SwipeReader.Properties.Settings>
            <setting name="SyncHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncMinute" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaborsDB" serializeAs="String">
                <value>server=seidco.net; database=seidcocp_labors; uid=seidcocp_labors; password=TCLW5kbSHRTX8a;</value>
            </setting>
            <setting name="EmployeesDB" serializeAs="String">
                <value>server=seidco.net; database=seidcocp_attendance; uid=seidcocp_attend; password=h7J3ptDtXGSe;</value>
            </setting>
        </SwipeReader.Properties.Settings>
    </userSettings>
</configuration>